@import '../variables';

.seriesPage{
    @include centered;
    img{
        width: 50%;
    }
    .seriesMenu{
        margin-top: 20%;
        h1{
            color: $textColor;
        }
        .subSeriesMenu{
            margin-top: 20%;
            @include menu($secondColor);
            &:active{
                color: $secondColor;
            }
        
        }
    }
}