@import './variables';

.homePage{
    @include centered;
    margin-top: 30%;
    img{
        width: 90%;
    }
    .homeMenu{
        margin-top: 20%;
        .subMenu{
            @include menu($divBackgroundColor);
            &:active{
                color: $secondColor;
            }
        }
    }
}