$divBackgroundColor : #e1ebfa;
$textColor:  #0050aa;
$secondColor: #FAC77C;
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$font:'Varela Round', sans-serif;
$greenColor : #e1fae3;
$redColor: #fae1e1;
$orangeColor : #faf3e1;


@mixin after_plus_moins($content){
    content: $content;
    position: absolute;
    left: 30%;
    top: 20%;
    animation: leftRight 3s infinite;
}
@keyframes leftRight{
    0%{left:0%};
    50%{left: 65%;}
    100%{left: 0%;}
}

@mixin burgerLine($top){
    content: "";
    position: absolute;
    top: $top;
    left: 0px;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: $secondColor;
}

@mixin menu($bgC){
    height: 32px;
    width: 300px;
    background-color: $bgC;
    margin-top: 15%;
    font-size: 25px;
    text-align: center;
    color: #0050aa;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

@mixin centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}