@import './gameStyle/numpad';
@import './gameStyle/product';
@import './menuStyle/bMenu';
@import './home';
@import './menuStyle/seriesMenu';
@import './authStyle/loginStyle';
@import './authStyle/createAccountStyle';
@import './variables';
@import './gameStyle/result';

*{
    font-family: $font;
    margin: 3px 0 0 0;
}
a{
    text-decoration: none;
}
.navbar{
    @include centered;
}